@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    /* tabled */
    body {
        background-image: linear-gradient(to top, #1C1C23, #621492);
    }

    #login {
        width: 70vw;
        height: 550px;
    }

    #image {
        float: right;
        background-position: center center;
        height: 100%;
        width: 50%;
    }

    h1 {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 2.6em;
    }

    #welcTxt {
        font-size: 1.12em;
        margin: 35px;
    }

    p {
        line-height: 1.8em;
    }

    .details {
        margin-left: 50px;

        font-size: 0.9em;
        line-height: 1.4em;
        border: #1C1C23;
    }

    form {
        margin: 30px 0px;
    }

    /*     form {
        float: left;
        margin-top: -100px;
    } */

    #buttons {
        margin-top: 40px;
    }

    #enterBtn {
        font-size: 0.9em;
        min-width: 20vw;
        max-width: 250px;
        margin: auto;
        margin-top: 30px;
        padding: 5px;
    }

    #forgotBtn {
        font-size: 0.9em;
        min-width: 20vw;
        max-width: 250px;
        margin: auto;
        margin-top: 20px;
        padding: 5px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #1C1C23, #621492);
    }

    #login {
        width: 850px;
        height: 500px;
    }

    #image {
        float: right;
        background-position: center center;
        height: 100%;
        width: 50%;
    }

    h1 {
        margin-top: 35px;
        margin-bottom: 35px;
        text-align: center;
        font-size: 2.8em;
    }

    #welcTxt {
        font-size: 1.12em;
        margin-left: 35px;
    }

    p {
        line-height: 1.8em;
    }

    .details {
        margin-left: 50px;

        font-size: 1em;
        line-height: 1.4em;
     }

    form {
        float: left;
        width: 50%;
        height: 100%;
        margin: 15px 0px;
    }

        #buttons {
        margin-top: 30px;
    }

    #enterBtn {
        font-size: 1em;
        width: 290px;
        margin: auto;
        margin-top: 30px;
        padding: 5px;
    }

    #forgotBtn {
        font-size: 1em;
        width: 290px;
        margin: auto;
        margin-top: 20px;
        padding: 5px;
    }
}