@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}
body {
    /* background-image: linear-gradient(to bottom, rgba(138, 0, 138, 0.733), rgba(0, 100, 70, 0.733)) */
    background-color: #1C1C23;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative; /* trabalha com o position na section #login  */
    height: 100vh;
    width: 100vw;
}

#login {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* garante que fica no meio da tela independente do tamanho */
    overflow: hidden;

    background-color: white;
    width: 340px;
    height: 670px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.450);

/*     transition: width 0.2s, heigth 0.2s;
    transition-timing-function: ease; */
}

#image {
    background: #00475f url('../images/light-door.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
    height: 300px;
    width: 340px;
}

h1 {
    text-align: center;
    margin: 10px;
    color: #005875;
    font-size: 1.8em;
}


#welcTxt{
    padding-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}

p {
    line-height: 1.4em;
}

.details {
    margin-left: 40px;
    padding-bottom: 10px;
    font-size: 0.80em;
    line-height: 1.4em;
}

.details input {
    padding: 1px;
}

#buttons {
    margin-top: 25px;
}

#enterBtn {
    display: block;
    background-color: #e071a9;
    border-color: #e071a9;
    width: 240px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 2px;
}

#enterBtn:hover{
    background-color: #a8557f;
    border-color: #a8557f;
}

#forgotBtn {
    display: block;
    background-color: #e071a875;
    border-color: #e071a815;
    width: 240px;
    margin: auto;
    margin-top: 15px;
    padding: 2px;
}

#forgotBtn:hover {
    background-color: #a8557f;
    border-color: #a8557f;
}
